<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<div th:fragment="copy" class="panel panel-default navbar-fixed-bottom text-center" style="margin-bottom: 0px; font-style: italic;">
		<div class="panel-body">
			Copyright &copy;<a href="#" target="_blank" title="镇安国税"> ZhenAn Tax</a> Powered By<a href="#" title="谢宇" target="_blank"> Xie Yu</a>
		</div>
	</div>
	<footer class="navbar-fixed-bottom panel panel-default">
		Copyright &copy;<a href="#" target="_blank" title="镇安国税"> ZhenAn Tax</a> Powered By<a href="#" title="谢宇" target="_blank"> Xie Yu</a>
	</footer>
</body>
</html>